@import '../../../../../themes/variables';

mat-card {
  width: 230px;

  img {
    padding: 20px;
    width: 223px;
  }

  mat-card-title {
    text-align: right;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow-y: hidden;
    overflow-x: clip;
    height: 60px;
  }

  mat-card-actions {
    display: flex;
    justify-content: center;
    padding-top: 60px;
  }

  mat-card-title {
    margin-top: 20px;
  }

  &.card--blue {
    ::ng-deep .mat-progress-bar .mat-progress-bar-fill::after {
      background-color: $primary-color;
    }
  }


  &.card--green {
    ::ng-deep .mat-progress-bar .mat-progress-bar-fill::after {
      background-color: $green-color;
    }
  }


  &.card--red {
    ::ng-deep .mat-progress-bar .mat-progress-bar-fill::after {
      background-color: $warn-color;
    }
  }
}
