<header class="header">
  <div class="header__top">
    <div class="header__setting-wrapper">
      <div class="header__logo">
        <a routerLink="/home">
          <mat-icon class="youtube-logo" color="primary">smart_display</mat-icon>
        </a>
      </div>
      <app-search></app-search>
      <button mat-raised-button class="header__setting" color="primary" (click)="settingActive = !settingActive">
        <mat-icon class="setting">tune</mat-icon>
      </button>
    </div>
    <div class="header__login-wrapper header-login">
      <app-login></app-login>
    </div>
  </div>
  <app-filter *ngIf="settingActive"></app-filter>
</header>
