<button class="button-back" mat-flat-button color="primary" (click)="goBack()">
  <mat-icon>chevron_left</mat-icon>
</button>
<mat-card class="card">
  <div class="card__image-wrapper">
    <img
      class="card__image"
      [src]="item.snippet.thumbnails.maxres.url"
      [alt]="item.snippet.title"
    />
  </div>
  <mat-card-content class="card__content">
    <mat-card-header>
      <mat-card-title>{{item.snippet.title}}</mat-card-title>
      <mat-card-subtitle>{{item.snippet.publishedAt | date: 'medium'}}</mat-card-subtitle>
    </mat-card-header>
    <div class="card__description">
      <div><strong>Description:</strong></div>
      <div>{{item.snippet.description}}</div>
    </div>
    <app-statistic></app-statistic>
    <mat-card-footer>
      <mat-progress-bar color="primary" mode="determinate" value="100"></mat-progress-bar>
    </mat-card-footer>
  </mat-card-content>
</mat-card>
