<button class="button-back" mat-flat-button color="primary">
  <mat-icon>chevron_left</mat-icon>
</button>
<mat-card class="card">
  <div class="card__image-wrapper">
    <img
      class="card__image"
      [src]=""
      [alt]=""
    />
  </div>
  <mat-card-content class="card__content">
    <mat-card-header>
      <mat-card-title>Kuji Podcast #20</mat-card-title>
      <mat-card-subtitle>Thursday, May 20, 2019</mat-card-subtitle>
    </mat-card-header>
    <div class="card__description">
      <div><strong>Description:</strong></div>
      <div>Это KuJi Podcast. В этом выпуске Тимур Каргинов, Андрей Коняев и Нурланом Сабуровым обсуждают окончание 2018 года: бой Хабиба с МакГрегором, Кокорина и Мамаева, шоу Урганта на Первом канале, экономический кризис и подарки для близких.</div>
    </div>
    <app-statistic></app-statistic>
    <mat-card-footer>
      <mat-progress-bar color="primary" mode="determinate" value="100"></mat-progress-bar>
    </mat-card-footer>
  </mat-card-content>
</mat-card>
