<section class="statistics">
  <div class="statistics__item">
    <mat-icon>visibility</mat-icon>
    <span>{{statistic.viewCount}}</span>
  </div>
  <div class="statistics__item">
    <mat-icon>favorite</mat-icon>
    <span>{{statistic.favoriteCount}}</span>
  </div>
  <div class="statistics__item">
    <mat-icon>thumb_down</mat-icon>
    <span>{{statistic.dislikeCount}}</span>
  </div>
  <div class="statistics__item">
    <mat-icon>chat</mat-icon>
    <span>{{statistic.commentCount}}</span>
  </div>
</section>
