<mat-card class="login-card">
  <mat-card-title>Login</mat-card-title>
  <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm(loginName.value, loginPassword.value)">
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input
        type="text"
        autocomplete="off"
        matInput
        formControlName="username"
        maxlength="15"
        #loginName
      />
      <mat-error
        *ngIf="loginForm.controls['username'].hasError('required')">Please enter a login email</mat-error>
      <mat-error
        *ngIf="loginForm.controls['username'].hasError('email')">The login email is invalid</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        type="password"
        autocomplete="off"
        matInput
        formControlName="password"
        maxlength="15"
        #loginPassword
      />
      <mat-error
        *ngIf="loginForm.controls['password'].hasError('required')">Please enter a password</mat-error>
      <mat-error
        *ngIf="loginForm.controls['password'].hasError('password')">Your password isn't strong enough</mat-error>
    </mat-form-field>
    <div class="button-wrapper">
      <button mat-button color="primary" type="button" disabled>Registration</button>
      <button mat-raised-button type="submit" color="primary" [disabled]="loginForm.invalid">
        Login
      </button>
    </div>
  </form>
</mat-card>

