<mat-card class="login-card">
  <mat-card-title>Login</mat-card-title>
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input
      type="text"
      autocomplete="off"
      matInput
      [formControl]="loginFormControl"
      maxlength="15"
    />
    <mat-error
      *ngIf="loginFormControl.hasError('required')">Username is required</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input
      type="password"
      autocomplete="off"
      matInput
      [formControl]="loginFormControl"
      maxlength="15"
    />
    <mat-error
      *ngIf="loginFormControl.hasError('required')">Please enter the password</mat-error>
  </mat-form-field>
  <div class="button-wrapper">
    <button mat-button color="primary">Registration</button>
    <button mat-raised-button type="submit" color="primary" >
      Login
    </button>
  </div>
</mat-card>

