:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-login {
  &__name {
    font-size: 12px;
    color: #4F4F4F;
    margin-right: 10px;
  }

  &__icon {
    margin-top: 3px;
  }
}
