:host{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.mat-card-title.mat-card-title {
  margin: 25px 0;
}

.mat-form-field.mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

.login-card {
  width: 440px;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
}
