@import '~@angular/material/theming';
@include mat-core();

$blue-gray-primary: mat-palette($mat-blue, A400);
$blue-gray-accent: mat-palette($mat-amber, 400);
$blue-gray-warn: mat-palette($mat-red, 500);

$blue-gray-theme: mat-light-theme((
  color: (
    primary: $blue-gray-primary,
    accent: $blue-gray-accent,
    warn: $blue-gray-warn,
  )
));

@include angular-material-theme($blue-gray-theme);
