@import '~@angular/material/theming';

$primary-color: #2979ff;
$primary-hover-color: #5EA2FF;
$background-color: #E5E5E5;
$background-light-color: #EFEFEF;
$text-gray-color: #4F4F4F;
$text-light-gray-color: #929292;
